
.ships {
    margin-top: 50px;
    max-width: 100%;
    height: 50px;
    border: 1px solid RGB(243, 219, 151);
    background-color: RGB(255, 254, 251);
}

.nav-ships{
    margin-top: 50px;
}
.nav-ships .table thead tr {
    border-bottom: 1px solid red;
}
.ships .box-ships{
    display: flex;
    line-height: 50px;
}
.ships .box-ships i {
    line-height: 50px;
    font-size: 24px;
    margin: 0px 30px;
}


.nav-ships .box-img img{
    width: 100px;
    height: 100px;
}
.nav-ships .box-img a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.table tbody th{
    display: flex;
    align-content: center;
}
.table tbody td {
    line-height: 100px;
}

.table tbody td .btn  {
   border: none;
}
.table tbody td .btn input{
    display: inline-block;
}
.table tbody td a {
    color: black;
    text-decoration: none;
}

.table tbody td a:hover {
    color: red;
}
 .bill {
    margin-top: 45px;
    border-top: 1px solid red;
}
.bill span {
    color: red;
}
.bill button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
}

.khac {
    margin-top: 100px;
}
.khac .khac-content{
    display: flex;
    justify-content: space-between;
}
.khac .khac-content a {
    text-decoration: none;
    color: red;
}

.product1{
    margin-top: 20px;
    width: 15%;
    height: 400px;
    border: 1px solid #cdcd;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.product1 img{
    margin-left: 20%;
    width: 150px;
    height: 150px;
}
.product1 p {
    font-size: 13px;
}
.product1 .title-name {
    font-weight: bold;
}
.product1 .price-real strong{
    font-size: 13px;
}
.product1 .price strong{
    font-size: 13px;
}
.product1 .status-product {
    margin-top: 30px;
    display: flex;
    margin-left: 50px;
    color: rgb(39, 189, 39);
}
.product1 .status-product a {
    width: 100px;
    height: 25px;
    text-decoration: none;
    font-size: 13px;
    border: 1px solid black;
    background-color: red;
    color: white;
    text-align: center;
    border: none;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hidden{
    display: none;
}
.container{
    width: 100%;
    padding: 20px 70px;
}
.header{
    display: flex;
    gap: 50px;   
}
.search_sp{
    width: 400px;
    height: 40px;
    border: 1px solid rgb(212, 8, 8);
}
.btn_search_sp i{
    color: aliceblue;
}
.btn_search_sp{
    padding: 10px 10px;
    background-color: brown;
    border-color: brown;
    border-radius: 3px;
}
.cart{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background-color: brown;
    margin-left: 100px;
    display: flex;
    padding: 10px  ;
    color: aliceblue;
}
.cart i{
    color: aliceblue;
}
.cart a{
    text-decoration: none;
    color: aliceblue;
}
.login_register{
    display: flex;
    padding-top: 10px;
}
.login_register i{
    font-size: 25px;
    margin-right: 5px;
}
.login_register a{
    text-decoration: none;
    padding-top: 5px;
    margin-right: 5px;
}
.login_register p{
    padding-top: 5px;
}
.listmenu{
    width: 100%;
    height: 50px;
    background-color: rgb(35, 6, 182);
    margin-top: 20px;
    display: flex;
    gap: 30px;
    padding-top: 15px;
}
.list{
  margin-left: 20px;
  color: white;
  display: flex;
}
.list p{
    margin-left: 20px;
}
.title{
    position: relative;
    margin-right: 50px;
}
.title:hover .ul{
    display: block;
}
.ul{
    /* margin-top: 17px; */
    display: none;
    background-color: aliceblue;
    padding-left: 0px;
}
.ul li{
    display: block;
    padding: 10px 10px;
    border:  1px solid #cdcd;
}
.ul li a{
    text-decoration: none;
    color: rgb(41, 41, 167);
}
.ul li i{
    margin-right: 10px;
    font-size: 20px;
}
.advertisement{
    display: flex;
    color: rgb(218, 218, 9);
    margin-left: 20px;
}
.advertisement i{
    font-size: 20px;
    margin-right: 10px;
}
.advertisement p{
    font-weight: bold;
    font-size: 17px;
}
.banner{
    margin-top: 20px;
}
.banner img{
    width: 100%;
}
.sort{
    margin-top: 20px;
    display: flex;
}
.sort h3{
    margin-right: 10px;
}
.listsort{
    padding: 5px 20px 5px 5px;
}
.product{
    margin-top: 20px;
    width: 24%;
    height: 400px;
    border: 1px solid #cdcd;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.product img{
    margin-left: 20%;
}
.title-name{
    margin: 10px 30px;
}
.price{
    /* display: grid; */
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
}
.price strong{
    color: black;
}
.price-real{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
}
.price-real p{
    color: rgb(225, 28, 28);
}
.price-real strong{
    color: rgb(212, 8, 8);
    font-weight: bold;
}
.status-product{
    margin-top: 30px;
   display: flex;
   margin-left: 100px;
   color: rgb(39, 189, 39);
}
.status-product p{
    margin-left: 10px;
}
.addcart{
    border-radius: 10px;
    width: 120px;
    height: 40px;
    background-color: rgb(225, 28, 28);
    margin-left: 100px;
    display: flex;
    padding: 10px 10px;
    transform: translateY(100px);
}
.addcart a{
    color: wheat;
    text-decoration: none;
}
.product:hover .addcart{
    transform: translateY(-270px);
    transition: 1.5s;
}
.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
    padding-top: 20px;
}

 .list-page .item{
    margin:0px 15px;
    width: 37px;
    height: 37px;
    background:#cdcdcd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.list-page .item a {
    color:#fff;
    text-decoration: none;
}
.item:hover{
    background: rgb(49, 49, 206);
}
.footer{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}
.information h4{
    color: rgb(212, 8, 8);
}
.information ul{
    margin-top: 10px;
}
.information ul li{
   display: block;
   padding: 10px 10px;
}
.information ul li a{
    text-decoration: none;
    color: rgb(20, 19, 19);
}
.internet{
    position: fixed;
    /* Vị trí tuyệt đối */
    top:50%;
    right: 0;
}
.ul-internet li{
    list-style: none;
    margin-top: 10px;
}




/* // nav  */

.nav-ships .table {
    width: 100%;
}

.nav-ships .table {
    border: 1px solid black;
}
.nav-ships .table tbody tr td{
    text-align: center;
    line-height: 15px;
}
.nav-ships .table tbody tr .img img {
    width: 100px;
}




h1{
    text-align: center;
}
.product-items{
    border: 1px solid #000;
    padding: 30px;
}
.product-item{
    float: left;
    width: 23%;
    margin: 1%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    line-height: 26px;
}
.product-item label{
    font-weight: bold;
}
.product-item p{
    margin: 0;
    line-height: 26px;
    max-height: 52px;
    overflow: hidden;
}
.product-price{
    color: red;
    font-weight: bold;
}
.product-img{
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 5px;
}
.product-item img{
    max-width: 100%;
}
.product-item ul{
    margin: 0;
    padding: 0;
    border-right: 1px solid #000;
}
.product-item ul li{
    float: left;
    width: 33.3333%;
    list-style: none;
    text-align: center;
    border: 1px solid #000;
    border-right: 0;
    box-sizing: border-box;
}
.clear-both{
    clear: both;
}
a{
    text-decoration: none;
}
.buy-button{
    text-align: right;
    margin-top: 10px;
}
.buy-button a{
    background: #444;
    padding: 5px;
    color: #fff;
}
#pagination{
    text-align: right;
    margin-top: 15px;
}
.page-item{
    border: 1px solid #000;
    padding: 5px 9px;
    color: #000;
}
.current-page{
    background: #000;
    color: #FFF;
}
#product-detail{
    border-top: 1px solid #000;
    padding: 15px 0 0 0;
}
#product-img{
    width: 30%;
    float: left;
}
#product-info{
    float: right;
    width: 70%;
    text-align: left;
    padding-left: 30px;
}
#product-img img{
    max-width: 100%;
    padding: 5px;
    border: 1px solid #000;
    background: #eee;
}
h1{
    text-align: left;
    margin-top: 0;
}
label.add-to-cart{
    background: #000;
    border: 1px solid #000;
    margin-top: 15px;
    padding: 15px;
    display: inline-block;
    color: #fff;
}
label a{
    color: #FFF;
}
#gallery{
    margin-top: 10px;
}
#gallery ul{
    margin: 0;
    padding: 0;
}
#gallery ul li{
    width: 150px;
    float: left;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100px;
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
    background: #eee;
}
#gallery ul li img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
table{
    border-collapse: inherit;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
table .product-img img{
    max-width: 100px;
}
table .product-name{
    width: 350px;
    padding-left: 20px;
}
table .product-img{
    width: 420px;
    text-align: center;
}
table .product-color{
    text-align: center;
    width: 100px;
}
table .product-number{
    width: 50px;
    text-align: center;
}
table .product-price{
    width: 100px;
    text-align: center;
}
table .product-quantity input{
    width: 100px;
    text-align: center;
}
table .product-quantity{
    width: 60px;
    text-align: center;
}
table .total-money{
    width: 100px;
    text-align: center;
}
#form-button{
    text-align: right;
    margin-top: 15px;
}
.product-delete{
    width: 100px;
    text-align: center;
}
#cart-form label{
    width: 100px;
    display: inline-block;
    margin-top: 15px;
}
#cart-form textarea{
    margin-top: 15px;
}
#cart-form input{
    line-height: 30px;
    height: 30px;
}
input[name="order_click"]{
    margin-top: 15px;
}
#row-total{
    background: #eee;
    color: #000;
}

#add-to-cart-form input[type='text']{
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
}
#add-to-cart-form input[type='submit']{
    background: #000;
    border: 1px solid #000;
    margin-top: 10px;
    padding: 15px;
    display: inline-block;
    color: #fff;
}
